<% form_for(:post) do |n| %>
<p><label>Titre</label> <%= n.text_field :title %></p>
<p><label>Auteur</label> <%= n.text_field :autor %></p>
<p><label>Tags</label> <%= n.text_field :tags %></p>
<p>écrire la nouvelle :</p><p><%= n.text_area :corp, :cols => 120, :rows => 40 %></p>
<%= submit_tag 'envoyer' %>
<% end %>
